<a href="https://colab.research.google.com/github/Skurmes/Data-Science-Project/blob/Testing/Copy_of_Ethereum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
#Ethereum Data Analysis Chart

In [69]:
#Import the libraries

import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [86]:
#Loading the data

from google.colab import files
upload = files.upload()

In [72]:
#Storing the data into Dataframes
df_ETH = pd.read_csv('ETH-USD (1).csv')

In [73]:
#Printing the data
df_ETH

           Date         Open  ...    Adj Close        Volume
0    2020-06-23   242.537018  ...   244.142151  6.624530e+09
1    2020-06-24   244.185928  ...   235.772461  8.815030e+09
2    2020-06-25   235.702850  ...   232.944489  7.010426e+09
3    2020-06-26   232.877487  ...   229.668045  7.187490e+09
4    2020-06-27   229.631485  ...   222.959793  6.918381e+09
..          ...          ...  ...          ...           ...
361  2021-06-19  2235.159180  ...  2178.499023  1.876585e+10
362  2021-06-20  2171.337891  ...  2246.364502  2.253593e+10
363  2021-06-21  2245.317871  ...  1888.447510  3.374517e+10
364  2021-06-22  1886.667603  ...  1874.950073  3.554725e+10
365  2021-06-23  1872.709961  ...  2000.787476  3.250619e+10

[366 rows x 7 columns]

In [74]:
#Statistical labeling
df_ETH.describe()

              Open         High  ...    Adj Close        Volume
count   363.000000   363.000000  ...   363.000000  3.630000e+02
mean   1204.019287  1256.404665  ...  1208.678389  2.367018e+10
std     970.136810  1019.286400  ...   969.682697  1.419217e+10
min     222.914490   228.598282  ...   222.959793  5.109033e+09
25%     386.373398   395.907883  ...   386.528228  1.242225e+10
50%     638.315186   662.699097  ...   642.868958  2.024132e+10
75%    1851.146485  1933.616760  ...  1861.306579  3.193287e+10
max    4174.635742  4362.350586  ...  4168.701172  8.448291e+10

[8 rows x 6 columns]

In [87]:
df_ETH.dropna(inplace=True)
df_ETH

           Date         Open  ...        Volume   Prediction
0    2020-06-23   242.537018  ...  6.624530e+09   227.664597
1    2020-06-24   244.185928  ...  8.815030e+09   241.510223
2    2020-06-25   235.702850  ...  7.010426e+09   239.075531
3    2020-06-26   232.877487  ...  7.187490e+09   246.670013
4    2020-06-27   229.631485  ...  6.918381e+09   243.015961
..          ...          ...  ...           ...          ...
349  2021-06-07  2713.047363  ...  3.060011e+10  2178.499023
350  2021-06-08  2594.602295  ...  4.190974e+10  2246.364502
351  2021-06-09  2510.199219  ...  3.607583e+10  1888.447510
352  2021-06-10  2611.142578  ...  2.875363e+10  1874.950073
353  2021-06-11  2472.858887  ...  2.483256e+10  2000.787476

[348 rows x 8 columns]

In [96]:
#Now including the Prediction Column
projection = 15

df_ETH['Prediction'] = df_ETH[['Close']].shift(-projection)

df_ETH

           Date         Open  ...        Volume  Prediction
0    2020-06-23   242.537018  ...  6.624530e+09  246.670013
1    2020-06-24   244.185928  ...  8.815030e+09  243.015961
2    2020-06-25   235.702850  ...  7.010426e+09  240.984985
3    2020-06-26   232.877487  ...  7.187490e+09  239.458176
4    2020-06-27   229.631485  ...  6.918381e+09  242.131699
..          ...          ...  ...           ...         ...
349  2021-06-07  2713.047363  ...  3.060011e+10         NaN
350  2021-06-08  2594.602295  ...  4.190974e+10         NaN
351  2021-06-09  2510.199219  ...  3.607583e+10         NaN
352  2021-06-10  2611.142578  ...  2.875363e+10         NaN
353  2021-06-11  2472.858887  ...  2.483256e+10         NaN

[348 rows x 8 columns]

In [ ]:

X = np.array(df_ETH[['Close']])

X = X[:-projection]
print(X)

In [ ]:

y = df_ETH['Prediction'].values
y = y[:-projection]
      
print(y)

In [99]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = .15)

In [101]:

linReg = LinearRegression()
linReg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [102]:

linReg_confidence = linReg.score(x_test, y_test)
print('Liner Regression Confidence: ', linReg_confidence)

Liner Regression Confidence:  0.8527813111654802

In [ ]:
x_projection = np.array(df_ETH[['Close']])[-projection:]
print(x_projection)

In [104]:

linReg_prediction = linReg.predict(x_projection)
print(linReg_prediction)

[2414.94352401 2286.41913904 2387.84492842 2685.04217498 2610.49840722
 2676.96746576 2813.37345309 2660.5531971  2607.80564493 2685.17716981
 2570.89974753 2504.23132399 2587.38173698 2462.19290791 2354.39684212]